/* 
Fonts:
font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace;

*/
* {
    cursor: url("./images/cursor_icon.png"), default;
    cursor: url("./images/cursor_icon.png"), auto;


}

body {
    display: flex;
    /* flex-direction: row; */
    font-family: "VT323", monospace;
    font-size: 20px;
    /* background-color: transparent; */
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1b98a52f-197d-4a3b-9881-5a48eefd9867/d4xntof-4df704fa-3939-4942-b59b-88d95c851eb6.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFiOThhNTJmLTE5N2QtNGEzYi05ODgxLTVhNDhlZWZkOTg2N1wvZDR4bnRvZi00ZGY3MDRmYS0zOTM5LTQ5NDItYjU5Yi04OGQ5NWM4NTFlYjYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CoMjrDFMMjJaOfB2-cu7nH274Xyua8iIaxjBCPscSFc");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



#banner-image {
    margin-bottom: 10px;
    height: 150px;
}

#main-title {
    font-size: 80px;
    margin-top: 8%;
    padding: 0;
    color: #6d3c14;

    padding-top: 18px;
}

#main-title h5 {
    padding-top: 250px;
    margin-top: 250px;
    margin: auto;
}

#banner-image {
    background-image: url("./images/Banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-left: 10%;
}


.health {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 80px;
    width: 360px;


}

.container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;

}

.card-title {
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "VT323", monospace;
    font-variant: small-caps;
    margin-top: 0;
    padding-top: 0;
}

.card {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #f1f1f16f;

}

#hero-card {
    width: 100%;
    display: flex;
    height: 35em;
    text-align: center;
    /* border: 2px solid rgb(175, 175, 175); */
}

#enemy-card {
    width: 100%;
    display: flex;
    height: 35em;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}



#info-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid rgb(175, 175, 175); */
    margin: 0.5% 10px 0 10px;
    width: 100%;
    height: 660px;

}

#info-card-container {
    margin-top: 6em;
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.808);
}

#hero-image {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    height: 300px;
    width: 90%;
    object-fit: contain;
    border-radius: 5px;
}

#enemy-image {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    height: 300px;
    width: 90%;
    object-fit: contain;
    border-radius: 5px;
}

/* #title-seperator {
    height: auto;
    width: auto;
} */

#info-card p {
    width: 80%;
    height: 175px;
    margin-right: auto;
    margin-left: auto;

    margin-top: 20px;
}

.card-body {

    height: 100%;
    width: 99%;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 10px;
    background-color: rgba(240, 219, 204, 0.91);
    border: 1px solid #6d3c14;
    border-radius: 15px;

}

.card {
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.808);
}




#heroCard .card-Body,
#enemyCard .card-body {

    max-height: 250px;

}

.start-container {
    display: flex;
    /* margin: auto; */
    /* margin-right: 28%; */
    justify-content: center;
}

.dropdown {
    display: flex;
    margin-left: 2%;
    cursor: url("./images/cursor_icon.png"), pointer;

}

#start-btn {
    margin: 0;
    background-color: red;
    color: #6d3c14;
}


.btn-primary {
    font-size: 18px;

    display: inline-flex;
    margin: auto;
    justify-content: center;
    justify-content: center;
    text-align: center;
    width: 8em;
    height: 2.5em;

    background-image: url("./images/button.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #6d3c14;
    border-color: transparent;
    background-color: transparent;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.btn-primary:active {
    background-image: url("./images/button_pressed.png");
}


.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    color: #6d3c14 !important;
    border-color: transparent !important;
    background-color: transparent !important;
    cursor: pointer;

}

.btn-secondary,
.btn-secondary:active,
.btn-primary:visited {
    background-color: rgb(255, 221, 187) !important;
    color: #6d3c14 !important;
    border: 2px solid #6d3c14;
    margin-bottom: 5%;
}

@media screen and (max-width: 1292px) {
    body {
        background-color: blue;
        flex-direction: column;
    }

    progress[value]::-webkit-progress-value {
        background-image: white;
    }
}