/* 
Fonts:
font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace;

*/

body {
    display: flex;
    flex-direction: row;
    font-family: "VT323", monospace;
    font-size: 20px;
}

.container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "VT323", monospace;
    font-variant: small-caps;
}

.card {
    display: flex;
    flex-direction: column;
}

#hero-card {
    width: 100%;

    display: flex;
    height: 35em;

    text-align: center;
    border: 2px solid rgb(175, 175, 175);
}

#info-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgb(175, 175, 175);
    margin: 3% 10px 0 10px;
    width: 100%;
    height: 560px;
}

#hero-image {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    height: 350px;
    width: 90%;
    object-fit: contain;
    border-radius: 5px;
}

#enemy-image {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    height: 350px;
    width: 90%;
    object-fit: contain;
    border-radius: 5px;
}

/* #title-seperator {
    height: auto;
    width: auto;
} */

#info-card p {
    width: 80%;
    height: 175px;
    margin-right: auto;
    margin-left: auto;

    margin-top: 20px;
}

.card-body {
    width: 100%;
    height: 100%;
    margin: auto;
}

#enemy-card {
    width: 100%;

    display: flex;
    height: 35em;
    text-align: center;
    border: 2px solid rgb(175, 175, 175);
}

.start-container {
    display: flex;
    /* margin: auto; */
    /* margin-right: 28%; */
    justify-content: center;
}

.dropdown {
    display: flex;
    margin-left: 2%;
}

#start-btn {
    margin: 0;
    background-color: red;
    color: white;
}

.btn {
    font-size: 18px;
    display: inline-flex;
    margin: auto;
    justify-content: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: auto;
    background-color: rgb(96, 96, 96);
    color: white;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #8064a2 !important;
}