/* 
Fonts:
font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace;

*/

body {
    display: flex;
    flex-direction: row;
    font-family: "VT323", monospace;
    font-size: 20px;
    background-color: #d0e7e7;

}

#banner-image {
    margin-bottom: 10px;
    height: 150px;
}

#main-title {

    font-size: 90px;
    margin-top: 8%;
    padding: 0;
    color: #6d3c14;

    padding-top: 18px;

}

#main-title h5 {
    padding-top: 250px;
    margin-top: 250px;
}

#banner-image {
    background-image: url("/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;

}


.health {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 80px;
    width: 360px;

}



.container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.card-title {
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "VT323", monospace;
    font-variant: small-caps;
}

.card {
    display: flex;
    flex-direction: column;
}

#hero-card {
    width: 100%;

    display: flex;
    height: 35em;

    text-align: center;
    /* border: 2px solid rgb(175, 175, 175); */
}

#info-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid rgb(175, 175, 175); */
    margin: .5% 10px 0 10px;
    width: 100%;
    height: 660px;

}

#info-card-container {

    margin-top: 6em;
    box-shadow: 0px 2px 4px 0px rgba(163, 163, 163, 1);

}


#hero-image {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    height: 300px;
    width: 90%;
    object-fit: contain;
    border-radius: 5px;
}

#enemy-image {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    height: 300px;
    width: 90%;
    object-fit: contain;
    border-radius: 5px;
}

/* #title-seperator {
    height: auto;
    width: auto;
} */

#info-card p {
    width: 80%;
    height: 175px;
    margin-right: auto;
    margin-left: auto;

    margin-top: 20px;
}

.card-body {
    width: 100%;
    height: 100%;
    margin: auto;
}

.card {
    box-shadow: 0px 5px 4px 0px rgba(163, 163, 163, 1);

}

#player-card {
    height: 35em;
}

#enemy-card {
    width: 100%;

    display: flex;
    height: 35em;
    text-align: center;
    /* border: 2px solid rgb(175, 175, 175); */
}

.start-container {
    display: flex;
    /* margin: auto; */
    /* margin-right: 28%; */
    justify-content: center;
}

.dropdown {
    display: flex;
    margin-left: 2%;
}

#start-btn {
    margin: 0;
    background-color: red;
    color: #6d3c14;
}

/* .btn {
    font-size: 18px;
    display: inline-flex;
    margin: auto;
    justify-content: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: auto;
    background-color: rgb(96, 96, 96);
    color: white;
} */

.btn-primary {
    font-size: 18px;

    display: inline-flex;
    margin: auto;
    justify-content: center;
    justify-content: center;
    text-align: center;
    width: 8em;
    height: 2.5em;

    background-image: url("images/button.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #6d3c14;
    border-color: transparent;
    background-color: transparent;
}



.btn-primary:active {
    background-image: url("images/button_pressed.png");
}

/* .btn-primary:hover {
    color: #6d3c14;
} */

.btn-primary:visited {
    color: #6d3c14;
}

/* created a class called button text, but the JS does not point to class btn-text to update button text */
/* .btn-text {
    transform: translateY(-4px);
} */


/* .btn-primary>.btn-text:active {
    transform: translateY(1.5px);
} */

.btn-primary,
/* .btn-primary:hover, */
.btn-primary:active,
.btn-primary:visited {
    color: #6d3c14 !important;
    border-color: transparent !important;
    background-color: transparent !important;
}