body {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
}

.title-container h5 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
}

#hero-card {
    width: 100%;

    display: flex;
    height: 35em;

    text-align: center;
    border: 1px solid red;
}

#info-card {

    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid red;
    margin: 0 10px 0 1px;
    width: 100%;
    height: auto;

}

.card-body {
    width: 100%;
    height: 100%;
    margin: auto;
}

#enemy-card {

    width: 100%;

    display: flex;
    height: 35em;
    text-align: center;
    border: 1px solid red;
}



.start-container {
    display: flex;
    /* margin: auto; */
    /* margin-right: 28%; */
    justify-content: center
}

.dropdown {
    display: flex;
    margin-left: 2%;


}

#start-btn {
    margin: 0;
}

.btn {
    display: inline-flex;
    margin: auto;
    justify-content: center;
    justify-content: center;
    text-align: center;
}